body{
	margin: 20px 20px 20px 20px;
}
h1{
	margin: 0;

}
p{
	margin: 0;
}
.main{
	
	margin-top: 16px;
	display: grid;
	grid-template-columns: 2fr 8fr;
	grid-gap: 16px;
}
.header{

	background:white;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2),
	 0px 2px 10px rgba(0, 0, 0, 0.08),
	  0px 1px 1px rgba(0, 0, 0, 0.16);
	  border-radius: 8px;
	  padding: 20px 10px 20px 10px;
}
.navBar{

	background:white;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2),
	 0px 2px 10px rgba(0, 0, 0, 0.08),
	  0px 1px 1px rgba(0, 0, 0, 0.16);
 border-radius: 8px;
 height: 96vh;
padding: 20px 10px 20px 10px;
}
.content{
	background-color: #f1f1f1;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2),
	0px 2px 10px rgba(0, 0, 0, 0.08),
	 0px 1px 1px rgba(0, 0, 0, 0.16);
	 border-radius: 8px;
	 padding: 20px 10px 20px 10px;
}
.div{
	margin-bottom: 30px;
}
.while{
	margin-top: 2000px;
}

.popup{
	position: absolute;
    width: 100%;
     height: 200vh;
     display: flex;
    top: 0;
    left: 0;
background: rgba(0, 0, 0, 0.32);
    display:none;
/*    display: block;*/
}
.whiteBox{
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 10%;
	width: max-content;
	background-color: white;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2),
	0px 2px 10px rgba(0, 0, 0, 0.08),
	0px 1px 1px rgba(0, 0, 0, 0.16);
	border-radius: 8px;
	padding: 20px 10px 20px 10px;
}

.close{
	max-width: 120px;
	margin-left: auto;
	width: 50%;
	margin-bottom: 10px;
	border: none;
	background-color: red;
	color: white;
	border-radius: 8px;
	padding: 8px;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2),
	0px 2px 10px rgba(0, 0, 0, 0.08),
	0px 1px 1px rgba(0, 0, 0, 0.16);
	cursor: pointer;
}
.popupInput{
	border: 1px solid rgba(0, 0, 0, 0.32);
	border-radius: 4px;
	padding: 6px;
	background-color: #f1f1f1;
}
.name{
	margin-bottom: 4px;
}
.popupInput{
	margin-bottom: 8px;
}
.signUp{
	border-radius: 4px;
	color: white;
	border:none;
	padding: 8px;
	background: #00AA00;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2),
	0px 2px 10px rgba(0, 0, 0, 0.08),
	0px 1px 1px rgba(0, 0, 0, 0.16);
	cursor: pointer;
}
.add{
	margin-top: 25px;
	border-radius: 4px;
	color: white;
	border:none;
	padding: 8px;
	background: #00AA00;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2),
	0px 2px 10px rgba(0, 0, 0, 0.08),
	0px 1px 1px rgba(0, 0, 0, 0.16);
	cursor: pointer;
}